@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@utility btn {
  @apply rounded-none font-mono shadow-none;
}

@utility link {
  @apply rounded-none font-mono shadow-none;
}