@import "tailwindcss";

@theme {
--color-primary-50: #e5fffd;
--color-primary-100: #ccfffb;
--color-primary-200: #99fff7;
--color-primary-300: #66fff2;
--color-primary-400: #33ffee;
--color-primary-500: #00ffea;
--color-primary-600: #00ccbb;
--color-primary-700: #00998c;
--color-primary-800: #00665e;
--color-primary-900: #00332f;
--color-primary-950: #001a17;
--color-secondary-50: #ffe5ff;
--color-secondary-100: #ffccff;
--color-secondary-200: #ff99ff;
--color-secondary-300: #ff66ff;
--color-secondary-400: #ff33ff;
--color-secondary-500: #ff00ff;
--color-secondary-600: #cc00cc;
--color-secondary-700: #990099;
--color-secondary-800: #660066;
--color-secondary-900: #330033;
--color-secondary-950: #1a001a;
--color-accent-50: #fffae5;
--color-accent-100: #fff5cc;
--color-accent-200: #ffeb99;
--color-accent-300: #ffe066;
--color-accent-400: #ffd633;
--color-accent-500: #ffcc00;
--color-accent-600: #cca300;
--color-accent-700: #997a00;
--color-accent-800: #665200;
--color-accent-900: #332900;
--color-accent-950: #1a1400;
}